*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1500px;
    font-family: serif;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 30px;
}

img{
    height: 60px;
}

.text{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin-top: 10px;
}

.hot, .cold, .runoff, .light, .gas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(250, 240, 224);
    margin: 35px 35px 45px;
    align-items: baseline;
}

.hot {
    color: red;
}
.cold {
    color: blue;
}
.light {
    color: orange; 
}
.gas{
    color: #0397e6;
}

.hot>label>input{
    outline-color: red;
}
.cold>label>input{
    outline-color: blue;
}
.runoff>label>input{
    outline-color: black;
}
.light>label>input{
    outline-color: orange;
}
.gas>label>input{
    outline-color: #0397e6;
}

.hot>:nth-child(1)::before{
    content: "\1F6C0";
    font-size: 30px;
}

.cold>:nth-child(1)::before{
    content: "\1F4A7";
    font-size: 30px;
}

.runoff>:nth-child(1)::before{
    content: "\1FAA0";
    font-size: 30px;
}

.light>:nth-child(1)::before{
    content: "\1F4A1";
    font-size: 30px;
}

.gas>:nth-child(1)::before{
    content:url(images/gas.png);
    position: relative;
    top: 5px;
}

label{
    display: block;
    width: 435px;
    margin-right: 2%;
    margin-bottom: 10px;
}

div>:nth-child(1)>input{
    margin-top: 12px;
}

div>:nth-child(2){
    width: 310px;
}

div>:nth-child(3){
    width: 150px;
}

div>:nth-child(4){
    width: 230px;
}

/* убрать стрелочки */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type="number"] {
    float: right;
    width: 90px;
    -moz-appearance: textfield;
}

input[type="number"]:hover{
    appearance: none;
    -moz-appearance: textfield;
}

#rateHot, #rateCold, #rateRunoff, #rateLight, #rateGas {
    width: 60px;
}

.result{
    color: rgb(32, 174, 32);
    font-size: 26px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

button{
    color: rgb(32, 174, 32);
    background-color: white;
    font-size: 28px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px gray; 
    /* margin-right: 20px; */
}

#sum{
    width: fit-content;
    display: none;
    color: rgb(32, 174, 32);
    font-size: 38px;
    margin-top: 5px;
}


@media screen and (min-width:2000px){
    h1{
        margin-top: 200px;
    }
}

@media screen and (max-width:864px){
    .text{
        margin-top: 0px;
    }
    div>:nth-child(2){
        width: 435px;
    }
    div>:nth-child(3){
        margin-right: 260px;
    }
    .hot, .cold, .runoff, .light, .gas {
        margin: 20px 20px 30px;
    }
    button{
        line-height: 22px;
        font-size: 26px;
        padding: 5px;
    }
}

@media screen and (max-width:679px){
    div>:nth-child(3){
        margin-right: 50px;
    } 
    h1{
        font-size: 28px;
    }
    .text{
        font-size: 19px;
    }
    .hot, .cold, .runoff, .light, .gas {
        margin: 20px 5px 30px;
    }
}

@media screen and (max-width:400px){
    h1{
        font-size: 23px;
    }
    img{
        height: 50px;
    }
    div>:nth-child(3){
        margin-right: 17px;
    }
    .btn{
        gap: 15px;
    }
    button{
        font-size: 24px;
        padding: 3px;
        width: min-content;
    }
}